body {
    background-color: #f1f1f1;
    height: 100%;
}
h1 {
    color: white;
}
.full-width {
    min-width: 100%;
}
.navigation-section {
    background-color: #333;
}
.top-bar li {
    text-transform: uppercase;
}
footer {
    background-color: #D7D7EA;
    padding: 1em 0;
}
.copyright-section {
    padding: 1em 0;
    text-align: center;
}
